@charset "UTF-8";
.mb10{ margin-bottom:10px; }
.mb20{ margin-bottom:20px; }
.mb30{ margin-bottom:30px; }
.mb40{ margin-bottom:40px; }
.mb50{ margin-bottom:50px; }
.mr10{ margin-right:10px; }
.pad5{padding: 5px;}
